<ion-content [fullscreen]="true">
  <div class="icon-input">
    <ion-icon name="search-outline"></ion-icon>
    <input placeholder="Digite sua pesquisa" (keydown.enter)="searchSong($event)"/>
  </div>
  <!-- <div class="menu">
    <div>PLAYLISTS</div>
    <div>HISTÓRICO</div>
    <div>FAVORITAS</div>
  </div> -->
  <div *ngIf="songs" class="list">
    <div class="item"  *ngFor="let song of songs" (click)="selectSong(song)">
      <img [src]="'http://img.youtube.com/vi/'+ song.id.videoId +'/sddefault.jpg'"/>
      <div>
        <span>{{song.snippet.title}}</span>
        <span>{{song.snippet.channelTitle}}</span>
      </div>
    </div>
    <div style="height: 90px">
      Resultados limitados a 25.
    </div>
  </div>
  <div *ngIf="songPlaying" class="playing" (click)="cycleModal()">
    <div class="player"></div>
    <div class="player-progress"></div>
    <div class="item">
      <img [src]="songPlaying.snippet.thumbnails.default.url"/>
      <div>
        <span>{{songPlaying.snippet.title}}</span>
        <span>{{songPlaying.snippet.channelTitle}}</span>
      </div>
      <ion-icon *ngIf="!paused" (click)="paused = !paused" class="icon" name="pause-sharp"></ion-icon>
      <ion-icon *ngIf="paused" (click)="paused = !paused" class="icon" name="play-sharp"></ion-icon>
    </div>
  </div>
  <div (swipe)="swipeEvent($event)" [style]="opened? 'transform: translateY(0vh)' : 'transform: translateY(100vh)'" class="musicModal">
    teste
  </div>
</ion-content>
